@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: linear-gradient(
    108.7deg,
    rgba(221, 22, 224, 1) 11%,
    rgba(111, 22, 190, 1) 88.2%
  );
  font-family: "poppins", sans-serif;
  text-align: center;
  position: relative;
  color: #fff;
  padding-top: 10vh;
}

.dice {
  position: relative;
  padding: 10px 180px;
  height: 85vh;
}

.row {
  display: flex;
  column-gap: 20px;
}

.col-6 {
  width: 50%;
}

.dice-part {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.img-dice {
  border-radius: 26px;
  border: 3px solid black;
  box-shadow: 0 15px 15px 2px #33333359;
}

button {
  margin-top: 30px;
  height: 54px;
  border-radius: 4px;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border: 0;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: #5c42ad;
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 0vh;
        font-size: 13px;
      }
  .dice {
    padding: 0px 0px;
    height: 100vh;
  }
  .dice-title{
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.573);
  }
  .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
  }
  #p1{
    margin-bottom: 30px;
  }
  #p2{
    margin-bottom: 0px;
  }
  h2{
    font-size: 30px;
  }
}
